body {
  width: 600px;
  margin: 10px auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, sans-serif;
}

header#page-header {
  #logo {
    height: 50px;
    svg {
      height: 100%;
      fill: #000;
    }
  }
}

header#article-header {
  font-family: Raleway, sans-serif;
  h1 {
    margin: 0;
  }
}

main {
  hr {
    margin: 20px 0;
  }
}

p {
  font-family: Georgia, serif;
}
