<% wrap_layout :layout do %>
  <article>
    <header id="article-header">
      <h1><%= current_article.title %></h1>
      <div class="date">
        <%= current_article.date.strftime('%B %e, %Y') %>
      </div>
    </header>
    <%= yield %>
  </article>
  <section>
    <hr/>
    <h2>Recent Articles:</h2>
    <%= partial 'shared/articles_list', locals: { only_recent: true, with_title: false } %>
  </section>
<% end %>
