<!doctype html>
<html>
  <head>
    <%= partial 'shared/head_tags' %>
  </head>
  <body>
    <%= partial 'shared/top' %>
    <main>
      <hr/>
      <%= yield %>
      <hr/>
    </main>
    <%= partial 'shared/footer' %>
  </body>
</html>
