<%
  chronological ||= false
  articles = chronological ? page_articles.reverse : page_articles
%>

<div id="articles-list">
  <h2>Entries:</h2>
  <% articles.each_with_index do |article, i| %>
    <%= partial 'shared/articles_list_item', locals: { article: article } %>
  <% end %>
</div>

