<script async src="https://www.googletagmanager.com/gtag/js?id=UA-54790755-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-54790755-3');
</script>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta name="theme-color" content="#800020" class="change-meta"> <!-- TODO: Add theme color -->
<%= favicon_tag "images/favicon.png" %>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<%= stylesheet_link_tag "site", relative: true %>

<title><%= current_article.title + ' - ' unless current_article.nil? %>Kidney Donation Diary</title>

<%#= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
