<% if build? %>
<!-- Matomo Analytics -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.ryanverhey.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<% end %>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta name="theme-color" content="#800020" class="change-meta"> <!-- TODO: Add theme color -->
<%= favicon_tag "images/favicon.png" %>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
<%= stylesheet_link_tag "site", relative: true %>

<title><%= current_article.title + ' - ' unless current_article.nil? %>Kidney Donation Diary</title>

<%#= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
