<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
<meta content='yes' name='apple-mobile-web-app-capable'>
<meta name="theme-color" content="#4682B4" class="change-meta"> <!-- TODO: Add theme color -->
<%#= favicon_tag "images/favicon.png" %>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<%= stylesheet_link_tag "site", relative: true %>

<title><%= current_article.title + ' - ' unless current_article.nil? %>Kidney Donation Diary</title>

<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
