<header>
  <div id="logo">
    <% link_to '/index.html' do %>
      <%= partial 'shared/logo' %>
    <% end %>
  </div>
  <p>Hi, I'm Ryan, and I'm giving one of my kidneys away. Come join me on my organ donation journey.</p>
</header>
