---
directory_index: false
---

<div id="404" class="content-page">
  <h1>404 - Page not found</h1>
  <div>
    <p>The page you requested could not be found.</p>
    <p>
      <% link_to "index.html" do %>
        Please return to the homepage or try again.
      <% end %>
    </p>
  </div>
</div>
