---
layout: layout
---

<p>
  <%= link_to 'Click here to view entries in chronological order.', 'chronological.html', class: 'chronological-link' %>
</p>

<%= partial 'shared/articles_list', locals: { articles: published_articles } %>
